<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shopin.wms.persistence.ChannelMapper" >
  <resultMap id="BaseResultMap" type="net.shopin.wms.domain.entity.Channel" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="page_layout_sid" property="pageLayoutSid" jdbcType="INTEGER" />
    <result column="page_template_sid" property="pageTemplateSid" jdbcType="INTEGER" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
    <result column="channel_desc" property="channelDesc" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="channel_url" property="channelUrl" jdbcType="VARCHAR" />
    <result column="is_show" property="isShow" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, page_layout_sid, page_template_sid, display_name, channel_desc, name, seq, flag, 
    channel_url, is_show
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shop_channels
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shop_channels
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.shopin.wms.domain.entity.Channel" >
    insert into shop_channels (sid, page_layout_sid, page_template_sid, 
      display_name, channel_desc, name, 
      seq, flag, channel_url, 
      is_show)
    values (#{sid,jdbcType=INTEGER}, #{pageLayoutSid,jdbcType=INTEGER}, #{pageTemplateSid,jdbcType=INTEGER}, 
      #{displayName,jdbcType=VARCHAR}, #{channelDesc,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{seq,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{channelUrl,jdbcType=VARCHAR}, 
      #{isShow,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="net.shopin.wms.domain.entity.Channel" >
    insert into shop_channels
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="pageLayoutSid != null" >
        page_layout_sid,
      </if>
      <if test="pageTemplateSid != null" >
        page_template_sid,
      </if>
      <if test="displayName != null" >
        display_name,
      </if>
      <if test="channelDesc != null" >
        channel_desc,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="channelUrl != null" >
        channel_url,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="pageLayoutSid != null" >
        #{pageLayoutSid,jdbcType=INTEGER},
      </if>
      <if test="pageTemplateSid != null" >
        #{pageTemplateSid,jdbcType=INTEGER},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="channelDesc != null" >
        #{channelDesc,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="channelUrl != null" >
        #{channelUrl,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.shopin.wms.domain.entity.Channel" >
    update shop_channels
    <set >
    	<if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="pageLayoutSid != null" >
        page_layout_sid = #{pageLayoutSid,jdbcType=INTEGER},
      </if>
      <if test="pageTemplateSid != null" >
        page_template_sid = #{pageTemplateSid,jdbcType=INTEGER},
      </if>
      <if test="displayName != null" >
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="channelDesc != null" >
        channel_desc = #{channelDesc,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="channelUrl != null" >
        channel_url = #{channelUrl,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.shopin.wms.domain.entity.Channel" >
    update shop_channels
    set page_layout_sid = #{pageLayoutSid,jdbcType=INTEGER},
      page_template_sid = #{pageTemplateSid,jdbcType=INTEGER},
      display_name = #{displayName,jdbcType=VARCHAR},
      channel_desc = #{channelDesc,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      channel_url = #{channelUrl,jdbcType=VARCHAR},
      is_show = #{isShow,jdbcType=INTEGER}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <select id="selectAllChannels" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from shop_channels c
 	 order by c.sid asc
  </select>
  
  <select id="selectChannelsBySid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from shop_channels
    where sid  in
    <foreach item="item" index="index" collection="list" open="( "
			       separator="," close=" )">
		 #{item}
	</foreach>
	
  </select>
  
  <select id="selectOthers" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from shop_channels
    where sid not in
    <foreach item="item" index="index" collection="list" open="( "
			       separator="," close=" )">
		 #{item}
	</foreach>
  </select>
  
  <select id="queryObjsCount" parameterType="net.shopin.wms.domain.entity.Channel" resultType="Integer" >
	  select count(*) from SHOP_CHANNELS  
		<where>
			<if test="sid != null and sid != '' " >
		        SID = #{sid} 
			</if>
			<if test="pageLayoutSid != null and pageLayoutSid != '' " >
		      and  PAGE_LAYOUT_SID = #{pageLayoutSid} 
			</if>
			<if test="pageTemplateSid != null and pageTemplateSid != '' " >
		      and  PAGE_TEMPLATE_SID = #{pageTemplateSid} 
			</if>
			<if test="displayName != null and displayName != '' " >
		      and  DISPLAY_NAME = #{displayName} 
			</if>
			<if test="channelDesc != null and channelDesc != '' " >
		      and  CHANNEL_DESC = #{channelDesc} 
			</if>
			<if test="name != null and name != '' " >
		      and  NAME = #{name} 
			</if>
			<if test="channelUrl != null and channelUrl != '' " >
		      and  CHANNEL_URL = #{channelUrl} 
			</if>
			<if test="seq != null and seq != '' " >
		      and  SEQ = #{seq} 
			</if>
			<if test="flag != null and flag != '' " >
		      and  FLAG = #{flag} 
			</if>
			<if test="isShow != null and isShow != '' " >
		      and  is_show = #{isShow} 
			</if>
			
		</where>
	</select>
</mapper>