<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shopin.wms.persistence.NavSortMapper" >
  <resultMap id="BaseResultMap" type="net.shopin.wms.domain.entity.NavSort" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="shop_channels_sid" property="shopChannelsSid" jdbcType="INTEGER" />
    <result column="module_name" property="moduleName" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="is_enable" property="isEnable" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, shop_channels_sid, module_name, create_user, create_time, update_user, update_time, 
    is_enable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from nav_sort
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nav_sort
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.shopin.wms.domain.entity.NavSort" >
    insert into nav_sort (shop_channels_sid, module_name, 
      create_user, create_time, update_user, 
      update_time, is_enable)
    values (#{shopChannelsSid,jdbcType=INTEGER}, #{moduleName,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR}, #{isEnable,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="net.shopin.wms.domain.entity.NavSort" >
    insert into nav_sort
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="shopChannelsSid != null" >
        shop_channels_sid,
      </if>
      <if test="moduleName != null" >
        module_name,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="shopChannelsSid != null" >
        #{shopChannelsSid,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.shopin.wms.domain.entity.NavSort" >
    update nav_sort
    <set >
      <if test="shopChannelsSid != null" >
        shop_channels_sid = #{shopChannelsSid,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null" >
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.shopin.wms.domain.entity.NavSort" >
    update nav_sort
    set shop_channels_sid = #{shopChannelsSid,jdbcType=INTEGER},
      module_name = #{moduleName,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      is_enable = #{isEnable,jdbcType=INTEGER}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  
  <select id="queryList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select *  from nav_sort n 
  	where n.shop_channels_sid = #{shopChannelsSid,jdbcType=INTEGER}
  </select>
  
  <update id="enableSort" parameterType="net.shopin.wms.domain.entity.NavSort">
  		update nav_sort 
  		set is_enable=1 
  		where sid= #{sid,jdbcType=INTEGER}
  </update>

  <update id="unableSort" parameterType="net.shopin.wms.domain.entity.NavSort">
  		update nav_sort 
  		set is_enable=0 
  		where  sid != #{sid,jdbcType=INTEGER}
  		and shop_channels_sid = #{shopChannelsSid,jdbcType=INTEGER}
  </update>
</mapper>