<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shopin.wms.persistence.PageLayoutBrandMapper" >
  <resultMap id="BaseResultMap" type="net.shopin.wms.domain.entity.PageLayoutBrand" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="brand_sid" property="brandSid" jdbcType="INTEGER" />
    <result column="page_layout_sid" property="pageLayoutSid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, brand_sid, page_layout_sid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from page_layout_brand
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from page_layout_brand
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.shopin.wms.domain.entity.PageLayoutBrand" >
    insert into page_layout_brand (sid, brand_sid, page_layout_sid
      )
    values (#{sid,jdbcType=INTEGER}, #{brandSid,jdbcType=INTEGER}, #{pageLayoutSid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.shopin.wms.domain.entity.PageLayoutBrand" >
    insert into page_layout_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="brandSid != null" >
        brand_sid,
      </if>
      <if test="pageLayoutSid != null" >
        page_layout_sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="brandSid != null" >
        #{brandSid,jdbcType=INTEGER},
      </if>
      <if test="pageLayoutSid != null" >
        #{pageLayoutSid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.shopin.wms.domain.entity.PageLayoutBrand" >
    update page_layout_brand
    <set >
      <if test="brandSid != null" >
        brand_sid = #{brandSid,jdbcType=INTEGER},
      </if>
      <if test="pageLayoutSid != null" >
        page_layout_sid = #{pageLayoutSid,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.shopin.wms.domain.entity.PageLayoutBrand" >
    update page_layout_brand
    set brand_sid = #{brandSid,jdbcType=INTEGER},
      page_layout_sid = #{pageLayoutSid,jdbcType=INTEGER}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>