<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shopin.wms.persistence.TRuleNewMqlMapper" >
  <resultMap id="BaseResultMap" type="net.shopin.wms.domain.entity.TRuleNewMql" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
    <result column="active_begin_time" property="activeBeginTime" jdbcType="TIMESTAMP" />
    <result column="active_end_time" property="activeEndTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, rule_name, active_begin_time, active_end_time, create_user, create_time, update_user, 
    update_time, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_rule_new
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <select id="findAllRules" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_rule_new  where flag = 1  order by sid desc 
  </select>
   <select id="queryMaxSidNum" resultType="Integer">
		select max(trn.sid) 
		from t_rule_new trn  
		
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_rule_new
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.shopin.wms.domain.entity.TRuleNewMql" >
    insert into t_rule_new (sid, rule_name, active_begin_time, 
      active_end_time, create_user, create_time, 
      update_user, update_time, flag
      )
    values (#{sid,jdbcType=INTEGER}, #{ruleName,jdbcType=VARCHAR}, #{activeBeginTime,jdbcType=TIMESTAMP}, 
      #{activeEndTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.shopin.wms.domain.entity.TRuleNewMql" >
    insert into t_rule_new
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="ruleName != null" >
        rule_name,
      </if>
      <if test="activeBeginTime != null" >
        active_begin_time,
      </if>
      <if test="activeEndTime != null" >
        active_end_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null" >
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="activeBeginTime != null" >
        #{activeBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activeEndTime != null" >
        #{activeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.shopin.wms.domain.entity.TRuleNewMql" >
    update t_rule_new
    <set >
      <if test="ruleName != null" >
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="activeBeginTime != null" >
        active_begin_time = #{activeBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activeEndTime != null" >
        active_end_time = #{activeEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.shopin.wms.domain.entity.TRuleNewMql" >
    update t_rule_new
    set rule_name = #{ruleName,jdbcType=VARCHAR},
      active_begin_time = #{activeBeginTime,jdbcType=TIMESTAMP},
      active_end_time = #{activeEndTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=INTEGER}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>