<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://cxf.apache.org/core"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">
    <!-- 定义环境变量 -->
    <context:property-placeholder location="classpath:application.properties"/>
    <bean id="client" factory-bean="clientFactory" factory-method="create"/>

    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="net.shopin.service.HelloWorld"/>
        <property name="address" value="${webservice_server}/HelloWorld"/>
    </bean>

    <bean id="remoteService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
        <property name="serviceUrl" value="${business_server}/AccountServiceHttpinvoker"/>
        <property name="serviceInterface" value="net.shopin.service.HelloWorld"/>
    </bean>

    <bean id="hessianService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${business_server}/AccountServiceHessian"/>
        <property name="serviceInterface" value="net.shopin.service.HelloWorld"/>
    </bean>

    <bean id="searchService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${business_server}/SearchService"/>
        <property name="serviceInterface" value="net.shopin.service.SearchService"/>
    </bean>

    <bean id="productService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${business_server}/productService"/>
        <property name="serviceInterface" value="net.shopin.service.ProductService"/>
    </bean>

    <bean id="saleRecordService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="http://172.16.200.2:9999/remoting/saleRecordService"/>
        <property name="serviceInterface" value="net.shopin.api.ISaleRecordService"/>
    </bean>

</beans>
