@charset "utf-8";
/* CSS Document */

#content-left1{width:190px;border: 1px solid #DFD5CA;float:left;margin-right:8px;font-size:12px;line-height: 24px;padding:10px;}
#content-right1{float:right;font-size:12px;width:730px;}
#content-left1 a,#content-left1 a:visited,#content-right1 .width240px .month-top10 .top10-list a,#content-right1 .width240px .month-top10 .top10-list a:visited,#content-right1 .month-top10 .top10-list a,#content-right1 .month-top10 .top10-list a:visited,#content-right1 .month-top10 .top10-list-more a,#content-right1 .month-top10 .top10-list-more avisited{color:#333333;}
#content-left1 a:hover,#content-right1 .width240px .month-top10 .top10-list a:hover,#content-right1 .width240px .month-top10 .top10-list-more a:hover,#content-right1 .month-top10 .top10-list a:hover,#content-right1 .month-top10 .top10-list-more a:hover{color:#FF6600;text-decoration: underline;}

#content-left1 li{background: url(http://images.shopin.net:9009/images/i-23.gif) no-repeat 3px center;text-indent: 15px;}


#content-right1 .month-top10{padding-top:10px;width:234px;float:left;border: 1px solid #DFD5CA;margin:0 10px 9px 0;}
#content-right1 .month-top11{margin-right:0;}
#content-right1 .month-top10 li{height:20px;line-height:20px;clear:both;}
#content-right1 .month-top10 div{font-size:14px;color:#9C0925;font-weight: bold;margin-bottom:10px;height:20px;line-height:20px;padding:0 10px;clear:both;}
#content-right1 .month-top10 .top10-backgroundF4F0EF{background:#F4F0EF;height:20px;line-height:20px;margin-bottom:18px;}
#content-right1 .month-top10 .top10-list{padding:0 20px;width:192px;}
#content-right1 .month-top10 .top10-list .top10-icon{width:30px;display: block;}
#content-right1 .month-top10 .top10-list .top10-name{width:80px;display: block;}
#content-right1 .month-top10 .top10-list span{float:left;}
#content-right1 .month-top10 .top10-list .top10-parts{width:55px;display: block;}
#content-right1 .month-top10 .top10-list a{width:205px;display: block;height:22px;line-height:14px;}
#content-right1 .month-top10 .top10-list a:hover{cursor: hand;}
#content-right1 .month-top10 .bcimg-top10 span {padding-left: 80px;}
#content-right1 .month-top10 .bcimg-top10 span a{font-size: 12px;font-weight: normal;color:#333333;}
#content-right1 .month-top10 .top10-list-more{padding:0 0 5px 180px;}




#content-right1 .content2{margin-top:10px;width:100%;}
#content-right1 .content2 li{vertical-align:text-top;}
#content-right1 .content2 .content2-top{height:26px;border-bottom: 1px solid #E4DAD3;}
#content-right1 .content2 .content8{height:auto;border: 1px solid #DFD5CA;border-top:none;padding:10px 10px 0 10px;width:707px; }


#content-right1 .content2 .content8 .width340{width:340px;margin-top:10px;}
#content-right1 .content2 .content8 .width340,#content-right1 .content2 .content8 .width340 .logobrand,#content-right1 .content2 .content8 .brand-imglist{float:left;}
#content-right1 .content2 .content8 .brand-imglist{width:162px;padding-bottom:20px;}
#content-right1 .content2 .content8 img{margin-right:10px;}
#content-right1 .content2 .content8 .brand-imglist li{height:18px;line-height:18px;}
#content-right1 .content2 .content8 .brand-imglist .height60{height:60px;line-height:20px;}


#content-right1 .content2 #Tab1 .Menubox1 {height:21px;border-bottom: 1px solid #CBCBCB;overflow: hidden;width:700px;margin-top:20px;clear:both;}
#content-right1 .content2 #Tab1 .Contentbox1{text-align:left;padding-top:10px;width:710px;height:auto;border:none;clear:both;} 
#content-right1 .content2 #Tab1 .Contentbox1 #con_one_1 .abc{height:30px;line-height:30px;text-align:center;}
#content-right1 .content2 #Tab1 .Contentbox1 #con_one_1 .abc span{height:20px;width:540px;display:block;float:left;}
#content-right1 .content2 #Tab1 .Contentbox1 #con_one_1 .abc a{font-size:14px;color:#ff6600;padding:0 3px;}
#content-right1 .content2 #Tab1 .Contentbox1 #con_one_1 .abc img{margin:0;float:left;border:none;}
#content-right1 .content2 #Tab1 .Contentbox1 #con_one_1 .abc-a{border-bottom: 1px dashed #cccccc;height:auto;clear:both;}
#content-right1 .content2 #Tab1 .Contentbox1 #con_one_1 .abc-a .abc-height150px{width:755px;clear:both;height:160px;}
#content-right1 .content2 #Tab1 .Contentbox1 #con_one_1 .abc-a .abc-height150px li{height:160px;width:142px;text-align:center;float:left;}
#content-right1 .content2 #Tab1 .Contentbox1 #con_one_1 .abc-a h3{font-family: Arial;font-size: 20px;font-weight: bold;text-indent: 10px;height:35px;line-height:35px;}

