@charset "utf-8";
#notice_page{ width:950px; margin:0 auto;}


#notice_page .notice_title{ font-family:"宋体"; font-size:24px; color:#666666; font-weight:bold; text-align:center; width:900px; height:85px; line-height:75px; }


#notice_page .notice_content{ background:#F0EEEE;
font-size:14px;
line-height:26px;
padding:20px 30px;clear:both;}


#notice_page .notice_content a{ font-size:14px; color:#333333; line-height:22px; text-decoration:none;}

