@charset "utf-8";
/* CSS Document */
#bb{padding-top: 10px; text-align:center;
}
#anniu{ float:left; width:950px;}
.aniu1{ float:left; margin-left:170px; height:35px;}
.aniu1 li{ float:left; padding-left:50px;}
.pic{ margin-top:10px;}
