@charset "utf-8";
/* CSS Document */

/* reset */
*{font-size:12px;color:#333333;}
a,a:visited{color:#333333;}
a:hover{color:#FF6600;}

.flash-font12{color:#4B2B0E;font-weight: bold;font-size: 12px;text-align: right;}
.flash-font16{color:#FF0000;font-family: Arial;font-size: 22px;clear:both;}


.submenu1{margin-top:10px;border: 1px solid #E4E4E4;}
.submenu1 ol{line-height: 22px;height: 22px;border-bottom: 1px solid #E4E4E4;padding:5px;}
.submenu1 h2{padding:3px 0 0 10px;font-size: 14px;font-weight: bold;color: #333333;float:left;}
.submenu1 li{text-align:center;}
.submenu1 .submenu1-1{width:100%;margin:18px auto;}
.submenu1 .submenu1-1 li,.submenu2 .submenu1-left .submenu1-1 li{width:153px;text-align:center;float:left;height:200px;}

.submenu1 .submenu1-1 p,.submenu2 .submenu1-left .submenu1-1 p{width:130px;height:27px;overflow: hidden;line-height: 27px;cursor: hand;text-align:center;padding:0 auto;}
.submenu1 .submenu1-1 a,.submenu2 .submenu1-left .submenu1-1 a{color:#000000; text-decoration:none;}
.submenu1 .submenu1-1 a:hover,.submenu1 a:hover,.submenu2 .submenu1-left .submenu1-1 a:hover{color:#FF6600; text-decoration:underline;}
.submenu1 .submenu1-1 h3,.submenu2 .submenu1-left .submenu1-1 h3{clear:both;font-size:14px;font-weight: bold;font-family: Arial, "宋体";color:#EA6D00;height:25px;line-height: 25px;}
.submenu1 .submenu1-1 em,.submenu2 .submenu1-left .submenu1-1 em{font-style: normal;font-size:12px;font-weight: normal;color:#666666;text-decoration: line-through;margin-right:15px;}
.submenu1 .submenu1-1 .color666666,.submenu2 .submenu1-left .submenu1-1 .color666666{font-size:14px;color:#FF3300;width:130px;font-weight: bold;}
.submenu1 li{padding:10px 0;}
.submenu1 a{float:right;}
.submenu2{border: 1px solid #E4E4E4;margin-top:10px;padding:5px 8px;height:425px;}

.submenu2 .submenu1-left{width:628px;border-right: 1px solid #E4E4E4;float:left;}
.submenu2 .submenu1-right{width:280px;padding-left:15px;}
.submenu2 .submenu1-left .submenu2-title{height:20px;border-bottom: 1px solid #E4E4E4;margin-top:10px;width:618px;margin-top:10px;}
.submenu2 .submenu1-left .submenu2-title p{border-bottom:2px #B5090F solid;font-size:14px; font-weight:bold; float:left;height:18px;color:#333333;padding:0 4px;clear:both;}
.submenu2 .submenu1-left .submenu2-title a{float:right;padding-right:10px;}
.submenu2 .submenu1-left .submenu1-1{width:618px;margin:18px auto;}
.submenu2 .submenu1-right div{height:35px;line-height:40px;}
.submenu2 .submenu1-right p{line-height: 24px;text-indent: 25px;}
.submenu2 .submenu1-right img{margin-top:5px;}
.submenu2 .submenu1-right ul{margin-top:5px;text-align:center;width:95%;margin-top:10px;}
.submenu2 .submenu1-right ul li{height:30px;line-height:30px;}
.submenu2 .submenu1-right .tiao{float:left;margin-top:6px;width:145px;text-align:left;}
.submenu2 .submenu1-right .submenu1-button{float:right;}
.submenu2 .submenu1-right h3{width:49px;float:left;text-align:right;padding-right:6px;font-weight: normal;}


.submenu3{float:left;width:284px;border:1px #e4e4e4 solid;margin:10px 10px 0 0;padding:4px 12px 0px 12px;}
.submenu3marginright0{margin-right:0;}
.submenu3 .submenu3-title{line-height: 28px;height: 28px;border-bottom: 1px solid #E4E4E4;}
.submenu3 .submenu3-title h2{padding-left:2px;font-size: 14px;font-weight: bold;color: #333333;float:left;border-bottom:2px #B5090F solid;}
.submenu3 .submenu3-title a{float:right;margin-right:10px;}
.submenu3 .submenu3-title1{clear:both;height:30px;line-height:30px;padding-left:4px;margin-top:5px;}
.submenu3 .submenu3-content{padding:0 4px;text-indent: 24px;line-height:22px;}

.submenu3 .submenu1-1{width:280px;margin:18px auto;}
.submenu3 .submenu1-1 li{width:140px;text-align:center;float:left;}
.submenu3 .submenu1-1 p{width:130px;height:27px;overflow: hidden;line-height: 27px;cursor: hand;text-align:center;padding:0 auto;}
.submenu3 .submenu1-1 a{color:#000000; text-decoration:none;}
.submenu3 .submenu1-1 a:hover{color:#FF6600; text-decoration:underline;}
.submenu3 .submenu1-1 h3{clear:both;font-size:14px;font-weight: bold;font-family: Arial, "宋体";color:#EA6D00;height:25px;line-height: 25px;}
.submenu3 .submenu1-1 em{font-style: normal;font-size:12px;font-weight: normal;color:#666666;text-decoration: line-through;margin-right:15px;}
.submenu3 .submenu1-1 .color666666{font-size:14px;color:#FF3300;width:130px;font-weight: bold;}


.submenu4{float:left;width:444px;border:1px #e4e4e4 solid;margin:10px 10px 0 0;padding:4px 12px 0px 12px;}
.submenu4-1{margin-right:0px;float:left;}
.submenu4 .submenu3-title{line-height: 28px;height: 28px;border-bottom: 1px solid #E4E4E4;}
.submenu4 .submenu3-title h2{padding-left:2px;font-size: 14px;font-weight: bold;color: #333333;float:left;border-bottom:2px #B5090F solid;}
.submenu4 .submenu3-title a{float:right;margin-right:10px;}
.submenu4 .submenu3-title1{clear:both;height:30px;line-height:30px;padding-left:4px;margin-top:5px;}
.submenu4 .submenu3-content{padding:0 4px;text-indent: 24px;line-height:22px;}

.submenu4 .submenu1-1{width:433px;margin:18px auto;}
.submenu4 .submenu1-1 li{width:144px;text-align:center;float:left;}
.submenu4 .submenu1-1 p{width:130px;height:27px;overflow: hidden;line-height: 27px;cursor: hand;text-align:center;padding:0 auto;}
.submenu4 .submenu1-1 a{color:#000000; text-decoration:none;}
.submenu4 .submenu1-1 a:hover{color:#FF6600; text-decoration:underline;}
.submenu4 .submenu1-1 h3{clear:both;font-size:14px;font-weight: bold;font-family: Arial, "宋体";color:#EA6D00;height:25px;line-height: 25px;}
.submenu4 .submenu1-1 em{font-style: normal;font-size:12px;font-weight: normal;color:#666666;text-decoration: line-through;margin-right:15px;}
.submenu4 .submenu1-1 .color666666{font-size:14px;color:#FF3300;width:130px;font-weight: bold;}


.submenu5{margin-top:10px;border:1px #e4e4e4 solid;height:128px;clear:both;}
.submenu5 li{float:left;width:102px;text-align: center;margin-top:14px;}
.submenu5 ol{background:#F3F3F3;height:128px;float:left;width:100px;text-align:center;padding-top:55px;font-size:14px;font-weight: bold;margin-right:15px;}
.submenu5 img{margin:10px 0 5px 0; border:1px solid #eeeeee;}
.submenu5 a,.submenu5 a:visited{color:#333333;}
.submenu5 a:hover{color:#FF6600; text-decoration:underline;}

.submenu1 .submenu1-imglist{width:943px;margin:10px auto;padding-left:7px;height:155px; line-height:155px;}
.submenu1 .submenu1-imglist li{float:left;width:176px;}
.submenu1 .submenu1-imglist .submenu1-icon{width:20px;margin:0;padding-left:8px;}
.submenu1 .submenu1-imglist .submenu1-icon img{margin-top:20px;}
.pro-img img{margin-top:10px;}
.submenu1-1 img{ border:1px solid #EEEEEE;}
.sku-img .shopin-custom{
    background-image:url(http://images.shopin.net/images/shopin-custom.gif);
    background-repeat:no-repeat;
    background-position:left;
	position:absolute;
	top:10px;
	left:10px;
	height:43px;
	width:60px;
}
.roll_item{width:860px;}

.submenu1-icon img{width:20px;margin:40px 10px 0 10px;}
.roll_item img{clear:both;}
.probutton img{margin:25px 20px 0 20px;}
.tab_nav{margin-top:10px;}
.tab_nav ul{margin-left:15px;}
