<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>framework</display-name>
    
    
    <servlet>
        <servlet-name>perf4j</servlet-name>
        <servlet-class>org.perf4j.log4j.servlet.GraphingServlet</servlet-class>
        <!--
          The graphNames parameter determines which graphs to expose. The
          param-value should be a comma-separated list of the
          appender NAMES as defined in the log4j.xml file.
        -->
        <init-param>
            <param-name>graphNames</param-name>
            <param-value>graphExecutionTimes,graphExecutionTPS</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>perf4j</servlet-name>
        <url-pattern>/perf4j</url-pattern>
    </servlet-mapping>
    
     <servlet>
       <servlet-name>upload</servlet-name>
       <servlet-class>base.upload.FileUploadServlet</servlet-class>
       <init-param>
         <param-name>savePath</param-name>
         <param-value>upload</param-value>
       </init-param>
     </servlet>
    
    <servlet-mapping>
      <servlet-name>upload</servlet-name>
      <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    
      <servlet>
	    <!--定义自己的servlet类-->
	    <servlet-name>ActionServlet</servlet-name>
	    <servlet-class>base.upload.ActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<!-- 明确servlet类需要拦截的是哪个ACTION提交的数据 -->
	<servlet-name>ActionServlet</servlet-name>
	    <url-pattern>/action</url-pattern>
	</servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>
