<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <description>yeepay</description>

    <!--<context:property-placeholder location="classpath*:icbc.properties"/>-->

    <bean id="yeePayConf" class="net.shopin.web.conf.YeePayConf">
        <property name="keyValue" value="${keyValue}"/>
        <property name="nodeAuthorizationURL" value="${nodeAuthorizationURL}"/>
        <property name="p0Cmd" value="${p0Cmd}"/>
        <property name="p1MerId" value="${p1MerId}"/>
        <property name="p4Cur" value="${p4Cur}"/>
        <property name="p8Url" value="${p8Url}"/>
        <property name="p9SAF" value="${p9SAF}"/>
        <property name="pdFrpId" value="${pdFrpId}"/>

    </bean>

</beans>
